@font-face {
  font-family: 'DINPro-Medium';
  src: url('./DINPro-Medium.ttf');
}
@font-face {
  font-family: 'DIN-Regular';
  src: url('./DIN-Regular.otf');
}
@font-face {
  font-family: 'ShiShangZhongHeiJianTi';
  src: url('./ShiShangZhongHeiJianTi.ttf');
}
